* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #302f2f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 2rem;
}

.title-Page {
  font-size: 5rem;
  margin-bottom: 7rem;
}

@media screen and (max-width: 767px) {
  .title-Page {
    font-size: 3rem;
  }
}
